<div class="modal position-fixed top-0 w-100 h-100 d-flex justify-content-center align-items-center">

  <div class="modal-content align-items-center justify-content-center position-relative">

    <h2>Control</h2>
    <div class="d-flex flex-column">
      <form [formGroup]="form" class="row d-flex justify-content-center">
        <div class="col-12 col-sm-6">
          <app-form-input controlName="altura" label="Altura" type="number"
          class="{{altura.errors?'is-invalid': ''}}"></app-form-input>
        </div>
        <div class="col-12 col-sm-6">
          <app-form-input controlName="peso" label="Peso" type="number"
          class="{{peso.errors?'is-invalid': ''}}"></app-form-input>
        </div>
        <div class="col-12 col-sm-6">
          <app-form-input controlName="temperatura" label="Temperatura" type="number"
            class="{{temperatura.errors?'is-invalid': ''}}"></app-form-input>
        </div>
        <div class="col-12 col-sm-6">
          <app-form-input controlName="presion" label="Presion" type="number"
            class="{{presion.errors?'is-invalid': ''}}"></app-form-input>
        </div>

        <mat-form-field class="text-capitalize mb-2" >
          <mat-label>Dinamicos</mat-label>
          <mat-select formControlName="dinamicos" multiple (valueChange)="dinamicosChange($event)">
            <mat-option *ngFor="let tag of tags" [value]="tag" class="text-capitalize">{{tag}}</mat-option>
          </mat-select>
        </mat-form-field>

        <ng-container *ngIf="dinamicos.valid && dinamicos.value">
          <div *ngFor="let i of dinamicos.value" class="col-12 col-sm-6">
            <app-form-input *ngIf="i !== 'anteojos'" controlName="{{i}}" label="{{i}}" type="number" class="{{form.controls[i].errors ? 'is-invalid': ''}}"
            ></app-form-input>

            <div *ngIf="i === 'anteojos'" class="form-floating">
              <select formControlName="{{i}}" id="select" class="form-select {{form.controls[i].errors ? 'is-invalid': ''}}">
                <option [ngValue]="true">Si</option>
                <option [ngValue]="false">No</option>
              </select>
              <label for="select" class="text-capitalize">{{i}}</label>
            </div>
          </div>            
        </ng-container>

      </form>
      <div class="d-flex justify-content-center gap-3 mt-3">
        <button class="btn btn-success" (click)="OnSubmit()">Aceptar</button>
        <button class="btn btn-danger" (click)="cancel()">Cancelar</button>
      </div>
    </div>


  </div>

</div>