<app-navbar (loadingEvent)="loading = $event" (userEvent)="user = $event"  ></app-navbar>
<div class="d-flex justify-content-center align-items-center contenedor">
  <div class="text-center p-4 container-text">
    <h1>¡Bienvenido!</h1>
    <p>Te damos la bienvenida a nuesta pagina, aqui podras ver listas de peliculas y actores, tambien podras
      modificarlas a tu gustos.</p>
    <a routerLink="/busqueda">
      <button type="button" class="btn bg-color-tertiary text-light">
        <div class="d-flex align-items-center justify-content-center gap-2 fs-4">
          <span>COMENZAR</span>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </button>
    </a>
  </div>
</div>
<app-spinner [showSpinner]="loading"></app-spinner>
