<nav class="navbar position-static">
  <div class="container-fluid">
    <div class="d-flex  justify-content-center align-items-center gap-3">
      <a class="navbar-brand d-flex justify-content-center align-items-center" routerLink="/bienvenido">
        <img src="./../../../assets/icon.png" alt="Logo" class="d-inline-block align-text-top">
        <span class="ms-2 text-white">Inicio</span>
      </a>
      <div *ngIf="usuario?.type === 1"  class="h-100">
        <a class="fs-5 text-decoration-none text-light p-2" routerLink="/usuarios">Usuarios</a>
      </div>
      <div *ngIf="usuario?.type !== null">
        <a class="fs-5 text-decoration-none text-light p-2" routerLink="/perfil">Perfil</a>
      </div>
      <div *ngIf="usuario?.type === 2">
        <a class="fs-5 text-decoration-none text-light" routerLink="/pacientes">Pacientes</a>
      </div>
      <div *ngIf="usuario?.type !== null" class="dropdown-center">
        <span class="btn dropdown-toggle text-light" type="button" data-bs-toggle="dropdown" aria-expanded="false ">
          Turnos
        </span>
        <ul class="dropdown-menu">
          <li *ngIf="usuario?.type === 1" class="text-center dropdown-item">
            <a class="drop-item" routerLink="/turnos">Gestionar turnos</a>
          </li>
          <li *ngIf="usuario?.type !== 1" class="text-center dropdown-item">
            <a class="drop-item" routerLink="/misturnos">Mis Turnos</a>
          </li>
          <li *ngIf="usuario?.type !== 2" class="text-center dropdown-item">
            <a class="drop-item" routerLink="/solicitarturno">Solicitar Turno</a>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="usuario" class="dropdown-center me-3">
      <button class="btn dropdown-toggle text-light" type="button" data-bs-toggle="dropdown" aria-expanded="false ">
        {{usuario.name}} {{usuario.lastName}}
      </button>
      <ul class="dropdown-menu w-100">
        <li class="text-center">Tipo: <b>{{TypeUser[usuario.type]}}</b></li>
        <li class="p-2">
          <button class="btn text-light w-100 bg-danger" (click)="loguot()">Cerrar Sesión</button>
        </li>
      </ul>
    </div>

    <div *ngIf="!usuario">
      <a routerLink="/login">
        <button class="btn text-light btn-login">Iniciar Sesión</button>
      </a>
      <a routerLink="/register">
        <button class="btn bg-color-secondary text-light ms-2 btn-register">Registrarme</button>
      </a>
    </div>

  </div>
</nav>