<div class="main d-flex justify-content-center align-items-center py-4">

  <div class="text-center">
    <div class="table-container d-flex flex-column p-3 gap-1">
      <b class="fs-4">Especialistas</b>
      <div class="table-parent rounded bg-color-primary px-3 pb-3 overflow-y-auto">
        <div class="  px-3">
          <app-table-usuarios [especialistasList]="especialistasList"
            [headers]="['Usuario', 'DNI', 'Edad', 'Especialidad', 'Habilitado']" [especialidades]="especialidades"
            (changeValidityEvent)="changeValidity($event)"></app-table-usuarios>
        </div>
      </div>
      <b class="fs-4">Pacientes</b>
      <div class="table-parent rounded bg-color-primary px-3 pb-3 overflow-y-auto">        
        <div class="  px-3">
          <app-table-usuarios [pacientesList]="pacientesList"
            [headers]="['Usuario', 'DNI', 'Edad', 'Obra Social', 'Historial' ]"></app-table-usuarios>
        </div>
      </div>
    </div>
    <button appBtnScale [scale]="1.2" class="btn bg-color-secondary text-light" routerLink="/register">Crear Nuevo</button>
    <button appBtnScale [scale]="1.2" class="btn bg-color-tertiary text-light ms-4" (click)="exportUsers()" [disabled]="!users">
      <i class="fa-solid fa-file-export"></i>
      Excel</button>
  </div>

  <app-fabbtn-users *ngIf="users" [users]="pacientesList" icon="fa-solid fa-download" (SelectUserEvent)="exportTurnosUser($event)"></app-fabbtn-users>
</div>

<app-spinner [showSpinner]="loading"></app-spinner>

<app-modal-custom [showModal]="showModal">
  <h4 class="fw-bold">¿Estas seguro?</h4>
  <div class="d-flex gap-2">
    <button class="btn btn-primary" (click)="confirmChange()">Confirmar</button>
    <button class="btn btn-danger" (click)="showModal = false">Cancelar</button>
  </div>
</app-modal-custom>