<div class="main d-flex justify-content-center align-items-center">

  <div class="text-center">
    <h2>Usuarios</h2>
    <div class="table-container d-flex flex-column p-3 gap-1">
      <div class="h-50 bg-color-primary rounded p-3">
        <div class="h-100 overflow-y-auto px-3">
          <app-table-usuarios [especialistasList]="especialistasList"
            [headers]="['Usuario', 'DNI', 'Edad', 'Especialidad', 'Habilitado']" [especialidades]="especialidades"
            (changeValidityEvent)="changeValidity($event)"></app-table-usuarios>
        </div>
      </div>

      <div class="h-50 bg-color-primary rounded p-3">
        <div class="h-100 overflow-y-auto px-3">
          <app-table-usuarios [pacientesList]="pacientesList"
            [headers]="['Usuario', 'DNI', 'Edad', 'Obra Social' ]"></app-table-usuarios>
        </div>
      </div>
    </div>
    <button class="btn btn-primary mt-3" routerLink="/register">Crear Nuevo</button>
    <button class="btn bg-color-tertiary text-light mt-3 ms-2" (click)="exportUsers()" [disabled]="!users">Exportar a
      Excel</button>
  </div>
</div>

<app-spinner [showSpinner]="loading"></app-spinner>

<app-modal-custom [showModal]="showModal">
  <h4 class="fw-bold">¿Estas seguro?</h4>
  <div class="d-flex gap-2">
    <button class="btn btn-primary" (click)="confirmChange()">Confirmar</button>
    <button class="btn btn-danger" (click)="showModal = false">Cancelar</button>
  </div>
</app-modal-custom>