<div *ngIf="showUsersModal" class="modal-background" (click)="backClick($event)">

  <div class="modal-container">
    <i class="fa-solid fa-xmark modal-close" (click)="hideModalEvent.emit(false)"></i>
      <h1 class="modal-title">Elige Usuario</h1>
    <div class="modal-content">
      <button (click)="userSelected('yoyaver585@vaband.com','123456Test')" class="btn btn-primary" >Especialista</button>
      <button (click)="userSelected('admin@gmail.com','Admin123456')" class="btn btn-primary" >Administrador</button>
      <button (click)="userSelected('roxep40986@rockdian.com','Paciente123456')" class="btn btn-primary" >Paciente</button>
    </div>
  </div>
</div>