<form [formGroup]="form" class="row d-flex row-gap-2 justify-content-center position-relative">

  <div class="col-12 col-sm-6 {{modeHistorial ? 'col-md-4' : 'col-md-3'}} ">
    <div class="form-floating">
      <select formControlName="esp" id="selectEsp" class="form-select text-capitalize" (change)="filter()">
        <option value="{{null}}">ninguno</option>
        <option *ngFor="let esp of especialidades" value="{{esp.name}}">{{esp.name}}</option>
      </select>
      <label for="selectEsp">Especialidad</label>
    </div>
  </div>

  <div *ngIf="user?.type === 2" class="col-12 col-sm-6 {{modeHistorial ? 'col-md-4' : 'col-md-3'}} ">
    <div class="form-floating">
      <select formControlName="paciente" id="selectEsp" class="form-select text-capitalize" (change)="filter()">
        <option value="{{null}}">ninguno</option>
        <ng-container *ngFor="let user of users">
          <option *ngIf="user.type === 3" value="{{user.id}}">{{user.name}} {{user.lastName}}</option>
        </ng-container>
      </select>
      <label for="selectEsp">Paciente</label>
    </div>
  </div>

  <div *ngIf="user?.type !== 2" class="col-12 col-sm-6 {{modeHistorial ? 'col-md-4' : 'col-md-3'}} ">
    <div class="form-floating">
      <select formControlName="especialista" id="selectEsp" class="form-select text-capitalize" (change)="filter()">
        <option value="{{null}}">ninguno</option>
        <ng-container *ngFor="let user of users">
          <option *ngIf="user.type === 2" value="{{user.id}}">{{user.name}} {{user.lastName}}</option>
        </ng-container>
      </select>
      <label for="selectEsp">Especialista</label>
    </div>
  </div>

  <div class="col-12 col-sm-6 {{modeHistorial ? 'col-md-4' : 'col-md-3'}} ">
    <div class="form-floating">
      <select formControlName="fecha" id="selectEsp" class="form-select text-capitalize" (change)="filter()">
        <option value="{{null}}">ninguno</option>
        <option *ngFor="let fecha of fechas" value="{{fecha}}">{{fecha}}</option>
      </select>
      <label for="selectEsp">Fecha</label>
    </div>
  </div>

  <div *ngIf="!modeHistorial" class="col-12 col-sm-6 col-md-3 ">
    <div class="form-floating">
      <select formControlName="estado" id="selectEsp" class="form-select text-capitalize" (change)="filter()">
        <option value="{{null}}">ninguno</option>
        <option *ngIf="user?.type === 2" value="libre">libre</option>
        <option value="pendiente">pendiente</option>
        <option value="aceptado">aceptado</option>
        <option value="rechazado">rechazado</option>
        <option value="realizado">realizado</option>
      </select>
      <label for="selectEsp">Estado</label>
    </div>
  </div>

  <div class="col-12 d-flex justify-content-center position-relative gap-3">
    <div *ngIf="modeHistorial" class="col-5 col-sm-3 col-md-2">
      <button type="submit" class="btn bg-color-secondary text-light w-100 h-100" (click)="showModalFilters = true">
        Filtros
        <i class="fa-solid fa-filter"></i>
      </button>
    </div>
    <div class="col-5 col-sm-3 col-md-2">
      <button type="submit" class="btn btn-danger w-100 h-100" (click)="reset()" [disabled]="!turnos ? true : false">
        Limpiar
        <i class="fa-solid fa-rotate-left"></i>
      </button>
    </div>

    <div *ngIf="showModalFilters" class="filters-container position-absolute bg-light rounded p-3 mb-2">
      <div class="row d-flex row-gap-2 justify-content-center">

        <div class="col-12 col-sm-6 col-md-3">
          <app-form-input controlName="altura" label="altura" type="number">
          </app-form-input>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-form-input controlName="peso" label="peso" type="number">
          </app-form-input>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-form-input controlName="temperatura" label="temperatura" type="number">
          </app-form-input>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-form-input controlName="presion" label="presion" type="number">
          </app-form-input>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-form-input controlName="caries" label="caries" type="number">
          </app-form-input>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <app-form-input controlName="glucosa" label="glucosa" type="number">
          </app-form-input>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="form-floating">
            <select formControlName="anteojos" id="select" class="form-select">
              <option [ngValue]="null">Ninguno</option>
              <option [ngValue]="true">Si</option>
              <option [ngValue]="false">No</option>
            </select>
            <label for="select" class="text-capitalize">anteojos</label>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
          <app-form-input controlName="colesterol" label="colesterol" type="number">
          </app-form-input>
        </div>

        <div class="row justify-content-center row-gap-2">

          <div class=" col-12 col-sm-4 col-md-3 col-lg-2">
            <button type="submit" class="btn w-100 bg-color-secondary text-light h-100" (click)="filter()">
              Aplicar
            </button>
          </div>
          <div class=" col-12 col-sm-4 col-md-3 col-lg-2">
            <button type="submit" class="btn w-100 btn-danger h-100" (click)="reset()">
              Limpiar
              <i class="fa-solid fa-rotate-left"></i>
            </button>
          </div>
          <div class=" col-12 col-sm-4 col-md-3 col-lg-2">
            <button type="submit" class="btn w-100 btn-danger h-100" (click)="showModalFilters = false">
              Cerrar
            </button>
          </div>

        </div>

      </div>
    </div>

  </div>



</form>