<div #main class="main d-flex justify-content-center align-items-center  py-4">
  <a routerLink="/bienvenido">
    <i class="fa-solid fa-arrow-left position-absolute top-0 start-0 m-4 fs-3 color-tertiary">
    </i>
  </a>

  <form class="container" [formGroup]="formReg" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center mb-2">
      <div class="col-12 text-center color-tertiary">
        <h1>Registrarme</h1>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="showAlert">
      <div class="col-12 text-white">
        <app-alert [text]="textError || 'Error, algo salio mal'" (hideAlertEvent)="showAlert = $event"></app-alert>
      </div>
    </div>
  
    <!-- //TODO: TIPO -->
    <div class="row justify-content-center">
      <div  class="col-10 p-0 mb-2">
        <div class=" d-flex justify-content-center gap-4 ">
          <button appPressEfect type="button" class="btn btn-user btn-option {{type.errors ? 'btn-invalid': ''}}" (click)="selectTypeUser($event,3)">
            <img src="../../../assets/users/pacient.png " class="img-user">
          </button>
          <button appPressEfect type="button" class="btn btn-user btn-option {{type.errors ? 'btn-invalid': ''}}" (click)="selectTypeUser($event,2)">
            <img src="../../../assets/users/doctor.png" class="img-user">
          </button>
          <button appPressEfect *ngIf="user?.type === 1" type="button" class="btn btn-user btn-option {{type.errors ? 'btn-invalid': ''}}" (click)="selectTypeUser($event, 1)">
            <img src="../../../assets/users/admin.png" class="img-user">
          </button>
        </div>
      </div>

      <ng-container *ngIf="type?.value !== null">
        <!-- //TODO: INPUT NOMBRE -->
      <div class="col-10 col-sm-5 p-0">
        <app-form-input class="{{name.errors ? 'is-invalid': ''}}" controlName="name" label="Nombre" type="text">
          <small class="invalid-feedback fw-bold">Ingrese solo letras</small>
        </app-form-input>
      </div>

      <!-- //TODO: INPUT APELLIDO -->
      <div class="col-10 col-sm-5 p-0 ps-sm-2">
        <app-form-input class="{{lastName.errors ? 'is-invalid': ''}}" controlName="lastName" label="Apellido"
          type="text">
          <small class="invalid-feedback fw-bold">Ingrese solo letras</small>
        </app-form-input>
      </div>

      <!-- //TODO: INPUT DNI -->
      <div class="col-10 col-sm-4 p-0">
        <app-form-input class="{{dni.errors ? 'is-invalid': ''}}" controlName="dni" label="DNI" type="text">
          <small class="invalid-feedback fw-bold">Ingrese solo numeros</small>
        </app-form-input>
      </div>

      <!-- //TODO: INPUT EDAD -->
      <div class="col-5 col-sm-2 p-0 ps-sm-2">
        <app-form-input class="{{age.errors ? 'is-invalid': ''}}" controlName="age" label="Edad" type="text">
          <small class="invalid-feedback fw-bold">Entre 18 - 65</small>
        </app-form-input>
      </div>

      <!-- //TODO: INPUT IMG -->
      <div class="col-5 col-sm-4 p-0 ps-2">
        <div class="form-floating mb-2">
          <input type="file" formControlName="images" id="img-input"
            class="form-control {{images.errors ? 'is-invalid': ''}}" [multiple]="type.value === 2 ? true : false"
            (change)="selectImages($event)">
          <label for="img-input">{{type.value === 2 ? 'Imagenes' : 'Imagen'}}</label>
          <small *ngIf="type.value === 2" class="invalid-feedback fw-bold">Ingresa 2 imagenes</small>
        </div>
      </div>

      <!-- //TODO: INPUT OBRA SOCIAL -->
      <div *ngIf="type.value === 3" class="col-10 p-0">
        <app-form-input class="{{obraSocial.errors ? 'is-invalid': ''}}" controlName="obraSocial"
          label="Nro de Obra Social" type="text">
          <small class="invalid-feedback fw-bold">Ingrese un formato valido: 1-xxxx-x</small>
        </app-form-input>
      </div>

      <!-- //TODO: INPUT ESPECIALIDAD -->
      <ng-container *ngIf="type.value === 2">
        <div class="col-6 col-sm-8 p-0 ">
          <div class="">
            <label for="selectProfession">Especialidad</label>
            <select formControlName="especialidad"
              class="form-select form-control mb-2 text-capitalize {{especialidad.errors ? 'is-invalid': ''}}" id="selectProfession" multiple>
              <option *ngFor="let item of especialidades" [value]="item.name">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-4 col-sm-2 p-0 ps-2 pb-2 d-flex align-items-center justify-content-center">
          <button class="btn bg-color-tertiary w-100 h-100 text-light" type="button" (click)="showModal = true">
            Agregar
          </button>
        </div>
      </ng-container>

      <!-- //TODO: INPUT EMAIL -->
      <div class="col-10 p-0">
        <app-form-input class="{{email.errors ? 'is-invalid': ''}}" controlName="email" label="Correo Electrónico"
          type="text">
          <small class="invalid-feedback fw-bold">Ingrese un email valido</small>
        </app-form-input>
      </div>

      <!-- //TODO: INPUT PASSWORD -->
      <div class="col-10 col-sm-5 p-0 ">
        <app-form-input class="{{password.errors ? 'is-invalid': ''}}" controlName="password" label="Contraseña"
          [type]="showPassword.value ? 'text': 'password'">
          <small class="invalid-feedback fw-bold">Minimo 1: mayus, minus, numero</small>
        </app-form-input>
      </div>

      <!-- //TODO: INPUT CONFIRMAR -->
      <div class="col-10 col-sm-5 p-0 ps-sm-2">
        <app-form-input class="{{confirmPassword.errors? 'is-invalid' : ''}}" controlName="confirmPassword"
          label="Confirmar Constraseña" [type]="showPassword.value ? 'text': 'password'">
          <small class="invalid-feedback fw-bold">Debe coincidir con la contraseña</small>
        </app-form-input>
      </div>

      <div class="col-10 form-check form-switch  mb-2">
        <input formControlName="showPassword" class="form-check-input" type="checkbox" role="switch"
          id="flexSwitchCheckChecked" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Mostrar Contraseña</label>
      </div>

      <div class="col-12 d-flex justify-content-center">
        <button appBtnScale [scale]="1.2" class="btn bg-color-primary text-light" expand="block" shape="round" type="submit">
          Crear cuenta
        </button>
      </div>
      </ng-container>
    </div>
  </form>
</div>

<app-spinner [showSpinner]="loading"></app-spinner>
<app-modal-custom [showModal]="showModal" (hideModalEvent)="showModal = $event">
  <p class="fw-bold">Nueva Especialidad</p>
  <form [formGroup]="formEsp" (submit)="createSpecialty()">
    <app-form-input class="{{espName.errors ? 'is-invalid': ''}}" controlName="espName" label="Especialidad"
      type="text">
      <small class="invalid-feedback fw-bold">Ingrese solo letras</small>
    </app-form-input>
    <div class="d-flex gap-2 justify-content-center">
      <button class="btn btn-primary" type="submit">
        Crear
      </button>
      <button class="btn btn-danger" (click)="cancelSpecialtyCreation()" type="button">
        Cancelar
      </button>
    </div>

  </form>

</app-modal-custom>