
.content{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

form{
  max-width: 750px;  
}

.btn-user{
  padding: 0px;
  overflow: hidden;
  border-radius: 100px;
  border-width: 12px ;
}

.img-user{
  width: 100px;
}
