<app-navbar (loadingEvent)="loading = $event" (userEvent)="user = $event"></app-navbar>
<div class="main d-flex justify-content-center py-4 bg-color-light">
  <div class="content d-flex flex-column gap-4">
    <div class="filter-container p-4 bg-color-primary rounded">

      <app-filter-turnos [user]="user" [users]="users" [especialidades]="especialidades" [turnos]="this.turnos"
        (filterTurnosEvent)="this.turnosCopy = $event;">
      </app-filter-turnos>

    </div>
    
    <div class="overflow-x-auto p-4 bg-color-primary rounded">
      <table class="table text-center text-capitalize text-light">
        <thead>
          <tr>
            <th>Especialista</th>
            <th>Especialidad</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let turno of turnosCopy; let i = index">
            <td>{{turno.especialista | nameUser: users}}</td>
            <td>{{turno.especialidad}}</td>
            <td>{{turno.fecha}}</td>
            <td>{{turno.estado}}</td>
            <td>


              <button *ngIf="turno.estado === 'pendiente'" class="btn btn-danger" (click)="bajaTurno('rechazado', i)">
                <i class="fas fa-xmark"></i>
              </button>

              <button *ngIf="turno.estado === 'cancelado' && turno.paciente !== null || turno.estado === 'rechazado' "
                class="btn btn-danger" (click)="showMotivos(i)">
                Ver motivos
              </button>

              <button *ngIf="turno.estado === 'realizado' && turno.review" class="btn btn-warning"
                (click)="showReview(i)">
                Ver reseña
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-modal-review [turno]="turnoSelected" [showModal]="showModalReview" (closeModalEvent)="showModalReview = $event"
  (loadingEvent)="loading = $event"></app-modal-review>

<app-modal-motivos [turno]="turnoSelected" [showModal]="showModalMotivos" (closeModalEvent)="showModalMotivos = $event"
  (loadingEvent)="loading = $event"></app-modal-motivos>

<app-spinner [showSpinner]="loading"></app-spinner>