
* {
  --color-primary: #444874;
  --color-secondary: #69ccfd;
  --color-tertiary: #21d9bd;
}

.color-primary{
  color: var(--color-primary) !important;
}
.color-secondary{
  color: var(--color-secondary) !important;
}
.color-tertiary{
  color: var(--color-tertiary) !important;
}

.bg-color-primary{
background-color: var(--color-primary) !important;
}
.bg-color-secondary{
background-color: var(--color-secondary) !important;
}
.bg-color-tertiary{
background-color: var(--color-tertiary) !important;
}
